body {
  font-family: Arial;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(102, 103, 103);
}

.top {
  text-align: right;
  padding: 10px;
}

.top a {
  color: rgb(2, 255, 183);
  text-decoration: none;
  margin-left: 15px;
  font-size: 25px;
  font-weight: 800;
}

.top a:hover {
  text-decoration: underline;
}

.wrap {
  margin-top: 120px;
}

h1 {
  color: #02ffb7;
  font-size: 50px;
  margin-bottom: 25px;
}

.text {
  width: 480px;
  height: 35px;
  border: 2px solid rgb(2, 255, 183);
  border-radius: 20px;
  font-size: 17px;
  padding: 6px 12px;
}

label {
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
}


.buttons {
  margin-top: 25px;
}
